[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
python-decouple = "*"
SQLAlchemy = "*"
psycopg2 = "*"
pytest-cov = "*"
pytest-watch = "*"
pytest-mock = "*"

[dev-packages]

[requires]
python_version = "3.9"
